body {
  background: url(/pic/bg-wood-logo.jpg) center center fixed #111;
  color: white; }

  a {
    color: #0099CC; }

    input.tiny {
      box-shadow: 1px 1px 2px #444 inset;
      border-color: rgba(255, 255, 255, 0.1);
      background-color: rgba(255, 255, 255, 0.4);
      color: white;
      transition: border-color 1s, box-shadow 1s;
      -webkit-transition: border-color 1s, box-shadow 1s; }

      input.tiny:focus {
        box-shadow: 1px 1px 2px #444 inset, 0 0 2px #0099CC;
        border-color: #0099CC;
        transition: border-color 0.3s, box-shadow 0.3s;
        -webkit-transition: border-color 0.3s, box-shadow 0.3s; }

        .widget .music_item {
          border-top: 1px solid #333; }
          .widget .music_item .face .image .label {
            text-shadow: 0 0 2px black;
            color: white;
            font-weight: bold; }
          .widget .music_item .face .content .desc {
            color: #aaa; }
          .widget .music_item .face:hover {
            background-color: rgba(255, 255, 255, 0.1); }

.panel {
  background: url(/pic/bg-wood-logo-blured.jpg) center center fixed;
  box-shadow: 0 0 4px black;
  margin: 10px;
  display: inline-block;
  position: relative; }

  .current_song_info tr td:first-child {
    color: #0099CC;
    text-shadow: 0 0 2px #0099CC; }
    .current_song_info tr td:last-child {
      color: rgba(255, 255, 255, 0.5); }

.player_status .indicator {
  color: rgba(255, 255, 255, 0.1); }
  .player_status .active {
    color: #0099CC;
    text-shadow: 0 0 2px #0099CC; }

.music_container .header .clTextButton {
  color: white; }
.music_container .music_list .tags {
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.8) inset;
  background-color: rgba(255, 255, 255, 0.05); }
  .music_container .music_list .tags .letter {
    color: #666;
    text-shadow: 1px 1px 2px #000000; }
    .music_container .music_list .tags .letter:hover {
      color: #0099CC; }
  .music_container .music_list .tags .active {
    background: url(/pic/bg-wood-logo-blured.jpg) center center fixed;
    color: white;
    box-shadow: -1px 2px 2px -1px rgba(0, 0, 0, 0.8), -1px -2px 2px -1px rgba(0, 0, 0,
        0.8); }
    .music_container .music_list .tags .active:hover {
      color: white; }

.current_num .display {
  color: #0099CC; }
  .current_num .background {
    color: rgba(255, 255, 255, 0.1); }

.current_song .display {
  color: #0099CC;
  text-shadow: 0 0 2px #0099CC; }
  .current_song .background {
    color: rgba(255, 255, 255, 0.1); }

.custom-slider-value {
  background: #0099CC;
  box-shadow: 0 0 2px #0099CC; }

  .slider {
    border: none;
    background: rgba(255, 255, 255, 0.1); }

    .miniButton3D:hover {
      color: #0099CC;
      box-shadow: 0 0 2px #0099CC; }

      .quicksearch .wait .value {
        background-color: #0099CC; }
