@mixin transition($p) {
	transition: $p;
	-webkit-transition: $p;
}

$base_color: #0099CC;
$unfilled_bg_color: rgba(255,255,255,0.1);
$gray: rgba(255,255,255,0.5);

body {
	background: url(/pic/bg-wood-logo.jpg) center center fixed #111;
	color: white;
}

a {
	color: $base_color;
}

input.tiny {
	box-shadow: 1px 1px 2px #444 inset;
	border-color: $unfilled_bg_color;
	background-color: rgba(255, 255, 255, 0.4);
	color: white;
	@include transition(border-color 1s, box-shadow 1s);
}

input.tiny:focus {
	box-shadow: 1px 1px 2px #444 inset, 0 0 2px $base_color;
	border-color: $base_color;
	@include transition(border-color 0.3s, box-shadow 0.3s);
}

.widget {
	.music_item {
		.face {			
			.image {
				.label {
					text-shadow: 0 0 2px black;
					color: white;
					font-weight: bold;
				}
				img {
				}
			}
			.content {
				.name {
				}
				.desc {
					color: #aaa;
				}
			}
			.subitem {
			
			}
			&:hover {
				background-color: $unfilled_bg_color;
			}
		}
		border-top: 1px solid #333;
	}
	.playlist {
	
	}
	.album {
	
	}
	.file {
	
	}
}

$blured_background: url(/pic/bg-wood-logo-blured.jpg) center center fixed;

.panel {
	background: $blured_background;
	box-shadow: 0 0 4px black;
	margin: 10px;
	display: inline-block;
	position: relative;
}

.current_song_info { 
	tr {
		td:first-child {
			color: $base_color;
			text-shadow: 0 0 2px $base_color;
		}
		td:last-child {
			color: $gray;
		}
	}	
}

.player_status {
	.indicator {
		color: $unfilled_bg_color;
	}
	.active {
		color: $base_color;
		text-shadow: 0 0 2px $base_color;
	}
}

$letter_box_shadow: rgba(0,0,0,0.8);

.music_container{
	.highlighted {
		@include transition(background-color 0.5s);
		background-color: rgba($base_color, 0.5);
	}
	.header {
		.clTextButton {
			color: white;
		}
	}
	.music_list {
		.tags {
			box-shadow: -2px 0 3px $letter_box_shadow inset;
			background-color: rgba(255,255,255,0.05);
			.letter {
				color: #666;
				text-shadow: 1px 1px 2px #000000;
				&:hover {
					color: $base_color;
				}
			}
			.active {
				background: $blured_background;
				color: white;
				box-shadow: -1px 2px 2px -1px $letter_box_shadow, -1px -2px 2px -1px $letter_box_shadow;
				&:hover {
					color: white;
				}
			}			
		}
	}
}
	
.current_num {
	.display {
		color: $base_color;
	}
	.background {
		color: $unfilled_bg_color;
	}
}

.current_song {
	.display {
		color: $base_color;
		text-shadow: 0 0 2px $base_color;
	}
	.background {
		color: $unfilled_bg_color;
	}
}

.custom-slider-value {
	background: $base_color;
	box-shadow: 0 0 2px $base_color;
}

.slider {
	border: none;
	background: $unfilled_bg_color;
}

.miniButton3D:hover {
	color: $base_color;
	box-shadow: 0 0 2px $base_color;
}

.quicksearch {
	.wait{
		.value {
			background-color: $base_color;
		}
	}
}