@import 'wwwroot/css/functions';

$base_color: #0099CC;
$unfilled_bg_color: rgba(white,0.1);
$gray: rgba(white,0.5);

body {
	background: url(/pic/bg-wood-logo.jpg) center center fixed #111;
	color: white;
}

a {
	color: $base_color;
}

input.tiny {
	box-shadow: 1px 1px 2px #444 inset;
	border-color: $unfilled_bg_color;
	background-color: rgba(white, 0.4);
	color: white;
	@include transition(border-color 1s, box-shadow 1s);
}

input.tiny:focus {
	box-shadow: 1px 1px 2px #444 inset, 0 0 2px $base_color;
	border-color: $base_color;
	@include transition(border-color 0.3s, box-shadow 0.3s);
}

.widget {
	.tree_item {
		border-top: 1px solid #333;
	}
	.face {
		.image {
			.label {
				text-shadow: 0 0 2px black;
				color: white;
				font-weight: bold;
			}
		}
		.desc {
			color: #aaa;
		}
		&:hover {
			background-color: $unfilled_bg_color;
		}
	}
}

$blured_background: url(/pic/bg-wood-logo-blured.jpg) center center fixed;

.panel {
	background: $blured_background;
	box-shadow: 0 0 4px black;
}

.current_song_info {
	tr {
		td:first-child, .value {
			color: $base_color;
			text-shadow: 0 0 2px $base_color;
		}
		td:last-child {
			color: $gray;
		}
	}
}

.player_status {
	.indicator {
		color: $unfilled_bg_color;
	}
	.active {
		color: $base_color;
		text-shadow: 0 0 2px $base_color;
	}
}

$letter_box_shadow: rgba(black,0.8);

.tree_container{
	.highlighted {
		@include transition(background-color 0.5s);
		background-color: rgba($base_color, 0.5);
	}
	.header {
		.clTextButton {
			color: white;
			@include transition(color 1s, text-shadow 1s);
			&:hover {
				@include transition(color 0.3s, text-shadow 0.3s);
				text-decoration: underline;
				color: $base_color;
				text-shadow: 0 0 2px $base_color;
			}
		}
	}
	.tree_list {
		.tags {
			box-shadow: -2px 0 3px $letter_box_shadow inset;
			background-color: rgba(white,0.05);
			.letter {
				color: #666;
				text-shadow: 1px 1px 2px #000000;
				&:hover {
					color: $base_color;
				}
			}
			.active {
				background: $blured_background;
				color: $base_color;
				text-shadow: 0 0  2px rgba($base_color,0.5);
				box-shadow: -1px 2px 2px -1px $letter_box_shadow, -1px -2px 2px -1px $letter_box_shadow;
			}
		}
	}
}

.current_num {
	.display {
		color: $base_color;
	}
	.background {
		color: $unfilled_bg_color;
	}
}

.current_song {
	.display {
		color: $base_color;
		text-shadow: 0 0 2px $base_color;
	}
	.background {
		color: $unfilled_bg_color;
	}
}

.custom-slider-value {
	background: $base_color;
	box-shadow: 0 0 2px $base_color;
}

.slider {
	border: none;
	background: $unfilled_bg_color;
}

.miniButton3D:hover {
	color: $base_color;
	box-shadow: 0 0 2px $base_color;
}

.quicksearch {
	.wait{
		.value {
			background-color: $base_color;
		}
	}
}

.clTabulable {
	.container {
	}
	.pager {
		font-weight: bold;
		color: #666;
		box-shadow: 0 2px 2px black inset;
		background-color: rgba(white,0.05);
		border-radius: 0 0 5px 5px;
		>.title {
			text-shadow: 1px 1px 2px black;
			&:hover {
				color: $base_color;
			}
		}
		>.active{
			color: $base_color;
			text-shadow: 0 0 2px rgba($base_color,0.5);
			box-shadow: 4px 1px 2px -2px black, -4px 1px 2px -2px black;
			background: $blured_background;
			&:last-child {
				box-shadow: -4px 1px 2px -2px black;
			}
			&:first-child {
				box-shadow: 4px 1px 2px -2px black;
			}
		}
	}
}

.statistics {
	>table {
		>tr {
			.section {
				border-bottom: 1px solid #555;
			}
			.title {
				color: $gray;
			}
			.value {
				color: $base_color;
				text-shadow: 0 0 2px $base_color;
			}
		}
	}
}

.dialog_item_hover{
	@include transition(background-color 0.5s);
	&:hover {
		@include transition(background-color 0.2s);
		background-color: rgba(255,255,255,0.5);
	}
}

.config_panel {
	.item {
		border-top: 1px solid #777;
	}
	.node {
		@extend .dialog_item_hover;
	}
	.item:last-child {
		border-bottom: 1px solid #777;
	}
	.header .clTextButton {
		color: black;
	}
}

.empty {
	font-style: italic;
	color: #555;
}
.playlist_panel {
	.name {
		color: black;
		font-weight: bold;
	}
	.desc {
		color: #555;
	}
	.item {
		@extend .dialog_item_hover;
	}
}

.current_song_details {
	color: $gray;
	font-weight: bold;
}
