@font-face {
  font-family: Digital7;
  src: url('/css/digital7.otf'); }

  @font-face {
    font-family: DotMatrix;
    src: url('/css/BPdotsLight-extended.otf'); }

    @font-face {
      font-family: Visitor;
      src: url('/css/visitor2.otf'); }

      body {
        padding: 0;
        margin: 0;
        font-family: Arial;
        font-size: 12px;
        display: table;
        text-align: center; }

        html, body {
          height: 100%;
          width: 100%; }

          .player {
            display: table-cell;
            vertical-align: middle; }

            .panel {
              text-align: left; }

              .widget {
                text-align: left;
                display: inline-block;
                position: relative; }
                .widget .music_item {
                  cursor: pointer; }
                  .widget .music_item .face {
                    transition: background-color 1.5s;
                    -webkit-transition: background-color 1.5s;
                    width: 100%; }
                    .widget .music_item .face .image {
                      padding: 2px;
                      padding-left: 6px; }
                      .widget .music_item .face .image .label {
                        border-radius: 2px;
                        padding: 1px 2px;
                        font-size: 8px;
                        display: inline-block;
                        position: absolute;
                        bottom: 0;
                        right: -5px;
                        line-height: 8px; }
                        .widget .music_item .face .image img {
                          vertical-align: middle;
                          max-height: 32px; }
                    .widget .music_item .face .content {
                      padding: 2px;
                      text-align: right;
                      width: 100%;
                      padding-right: 8px; }
                      .widget .music_item .face .content .name {
                        display: inline-block;
                        margin-bottom: 5px;
                        font-weight: bold; }
                        .widget .music_item .face .content .desc {
                          display: inline-block; }
                    .widget .music_item .face:hover {
                      transition: background-color 0.5s;
                      -webkit-transition: background-color 0.5s; }

.player_status .indicator {
  font-size: 10px;
  margin: -5px 0;
  text-align: center; }

.music_container {
  overflow: hidden; }
  .music_container .header {
    padding: 2px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap; }
    .music_container .music_list {
      display: inline-block; }

.current_num {
  font-family: Digital7;
  font-size: 42px; }
  .current_num .display {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0; }
    .current_num .background {
      display: inline-block; }

.current_song {
  font-family: DotMatrix;
  font-size: 20px;
  overflow: hidden; }
  .current_song .display {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    width: 100%;
    overflow: hidden; }
    .current_song .background {
      display: inline-block; }

.current_song_info {
  line-height: 10px;
  font-family: Visitor;
  font-size: 13px; }
  .current_song_info tr td:first-child {
    text-align: right; }
    .current_song_info tr td:last-child {
      padding-left: 3px; }

.volume {
  text-align: center; }
  .volume img {
    padding-right: 10px;
    vertical-align: middle; }
    .volume .slider {
      display: inline-block;
      vertical-align: middle; }

.queue, .library {
  border-radius: 3px; }

  .mCustomScrollBox > .mCSB_scrollTools {
    width: 8px; }

    .mCSB_container {
      margin-right: 0px; }

      .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
        border-bottom-right-radius: 1px; }

        .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
          border-bottom-left-radius: 1px; }

          .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
            border-top-right-radius: 1px; }

            .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
              border-top-left-radius: 1px; }

              .ui-slider-vertical {
                width: 3px; }
                .ui-slider-vertical .ui-slider-handle {
                  left: -3px;
                  width: 7px; }

.ui-slider-horizontal {
  height: 3px; }
  .ui-slider-horizontal .ui-slider-handle {
    top: -3px;
    height: 7px; }

.miniButton3D {
  display: inline-block;
  line-height: 10px;
  font-family: Visitor;
  font-size: 13px;
  padding: 1px 2px;
  cursor: pointer;
  cursor: hand;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  background-image: linear-gradient(to bottom, #eee, #aaa);
  border-radius: 2px;
  color: #222;
  text-shadow: 1px 1px 1px #eee;
  transition: color 1s;
  -webkit-transition: color 1s; }

  .miniButton3D:active {
    background-image: linear-gradient(to top, #eee, #aaa); }

    miniButton3D:hover {
      transition: color 0.1s;
      -webkit-transition: color 0.1s; }

      .preloader {
        margin: auto auto; }
