@import 'wwwroot/css/functions';

@font-face {
	font-family: Digital7;
	src: url('/css/digital7.otf');
}

@font-face {
	font-family: DotMatrix;
	src: url('/css/BPdotsLight-extended.otf');
}
@font-face {
	font-family: Visitor;
	src: url('/css/visitor2.otf');
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial;
	font-size: 12px;
	display: table;
	text-align: center;
}

html, body {
	height: 100%;
	width: 100%;
}

input.tiny {
	padding: 0px 1px;
	border: 1px solid;
	border-radius: 2px;
	font-size: 9px;
}

.player {
	display: table-cell;
	vertical-align: middle;
	> table {
		margin: 0 auto;
		td {
			vertical-align: top;
		}

	}
}

.panel {
	text-align: left;
}

$place_for_list_item_scrollbar: 9px;

.widget {
	text-align: left;
	display: inline-block;
	position: relative;
	.music_item {
		cursor: pointer;
		@include transition(background-color 1s);
	}
	.face {
		@include transition(background-color 1.5s);
		width: 100%;
		position: relative;
		.image {
			padding: 2px;
			padding-left: 6px;
			padding-right: 5px;
			display: inline-block;
			position: relative;
			.label{
				border-radius: 2px;
				padding: 1px 2px;
				font-size: 8px;
				display: inline-block;
				position: absolute;
				bottom: 0;
				right: 0;
				line-height: 8px;
			}
			img {
				vertical-align: middle;
				max-height: 32px;
			}
		}
		.name {
			display: inline-block;
			font-weight: bold;
			position: absolute;
			top: 2px;
			white-space: nowrap;
			overflow: hidden;
			right: 0;
			margin-right: $place_for_list_item_scrollbar;
			text-overflow: ellipsis;
		}
		.desc {
			display: inline-block;
			position: absolute;
			bottom: 2px;
			white-space: nowrap;
			right: 0;
			margin-right: $place_for_list_item_scrollbar;
		}
		&:hover{
			@include transition(background-color 0.5s);
		}
	}
	.playlist {

	}
}
.directory .face {
	.name {
		right: auto;
		top: 7px;
	}
	.image img {
		max-height: 24px;
	}
}

.player_status {
	.indicator {
		width: 9px;
		height: 9px;
	}
	table {
		margin-bottom: -2px;
		td {
			line-height: 10px;
		}
	}
}

.music_container{
	overflow: hidden;
	.header {
		padding: 2px;
		min-height: 32px;
		.menubar {
			text-align: right;
		}
		.breadcrumbs {
			overflow: hidden;
			white-space: nowrap;
		}
	}
	.music_list {
		display: inline-block;
		.tags {
			vertical-align: top;
			display: inline-block;
			font-size: 10px;
			width: 17px;
			text-align: center;
			cursor: pointer;
			@include user-select(none);
			overflow: hidden;
			.letter {
				line-height: 13px;
				font-weight: bold;
				margin-left: -3px;
			}
			.active {

			}
		}
		.list {
			vertical-align: top;
			display: inline-block;
		}
		.nodes {
		}
		.dir_item {
			.content {
				text-align: left;
				vertical-align: bottom;
			}
		}
	}
}

.current_num {
	font-family: Digital7;
	font-size: 42px;
	.display {
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
	}
	.background {
		display: inline-block;

	}
}

.current_song {
	font-family: DotMatrix;
	font-size: 20px;
	overflow: hidden;
	.display {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
	}
	.background {
		display: inline-block;
	}
}

.current_song_info {
	line-height: 10px;
	font-family: Visitor;
	font-size: 13px;
	tr {
		td:first-child {
			text-align: right;
		}
		td:last-child {
			padding-left: 3px;
		}
	}
}

.volume {
	text-align: center;
	img {
		padding-right: 10px;
		vertical-align: middle;
	}
	.slider {
		display: inline-block;
		vertical-align: middle;
	}
}

.queue, .library {
	border-radius: 3px;
}

.mCustomScrollBox > .mCSB_scrollTools {
	width: 8px;
}

.mCSB_container {
	margin-right: 0px;
}

$default_radius: 1px;

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	border-bottom-right-radius: $default_radius;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
	border-bottom-left-radius: $default_radius;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
	border-top-right-radius: $default_radius;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
	border-top-left-radius: $default_radius;
}

.ui-slider-vertical {
	width: 3px;
	.ui-slider-handle {
		left: -3px;
		width: 7px;
	}
}

.ui-slider-horizontal {
	height: 3px;
	.ui-slider-handle {
		top: -3px;
		height: 7px;
	}
}

.miniButton3D {
	display: inline-block;
	line-height: 10px;
	font-family: Visitor;
	font-size: 13px;
	padding: 1px 2px;
	cursor: pointer;
	cursor: hand;
	outline: none;
	@include user-select(none);
	background-image: linear-gradient(to bottom, #eee, #aaa);
	border-radius: 2px;
	color: #222;
	text-shadow: 1px 1px 1px #eee;
	@include transition(color 1s);
}

.miniButton3D:active {
	background-image: linear-gradient(to top, #eee, #aaa);
}

miniButton3D:hover {
	@include transition(color 0.1s);
}

.preloader {
	margin: auto auto;
}

.quicksearch {
	input {
		width: 100px;
	}
	.wait{
		width: 100px;
	}
}

.tipsy {
	font-size: 12px;
	.tipsy-inner {
		box-shadow: 0 0 3px black;
	}
}